.page-header {
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    z-index: 100;
    .container {
        height: 100%;
        position: relative;
        .row {
            height: 100%;
        }
    }
    &__promo {
        background: $color_gray_blue;
        &-text {
            font-size: 10px;
            color: $color_light_blue;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
            line-height: $header-promo-height;
            margin: 0;
        }
        &-close {
            position: absolute;
            right: 0;
            top: 0;
            line-height: $header-promo-height;
            padding-right: 15px;
            i {
                color: $color_light_blue;
            }
        }
    }
    &__top {
        @extend .clearfix;
        height: $header-top-height;
        border-bottom: 1px solid $color_light_gray;
        &-left,
        &-center,
        &-right {
            height: 100%;
        }
        &-center {
            text-align: center;
            line-height: $header-top-height;
        }
        &-right {
            a {
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -($cta-height/2 + 2)
            }
        }
        .language-form {
            position: absolute;
            top: 50%;
            margin-top: -19px;
        }
    }
    &__bottom {
        height: $header-nav-height;
        border-bottom: 1px solid $color_light_gray;
        &-right {
            line-height: $header-nav-height;
            ul {
                text-align: right;
                margin-right: -10px;
                li {
                    display: inline-block;
                    i {
                        padding: 0 10px;
                    }
                    &:first-child {
                        a {
                            border-right: 1px dotted $color_gray;
                        }
                    }
                }
            }
        }
    }
    &__nav {
        padding: 0;
        .collapse {
            padding: 0;
        }
        ul {
            text-align: center;
            padding: 0;
            float: none;
            > li {
                list-style: none;
                display: inline-block;
                padding: 0 25px;
                text-align: center;
                font-weight: 400;
                float: none;
                position: relative;
                > a {
                    cursor: pointer;
                    font-size: 12px;
                    text-transform: uppercase;
                    line-height: $header-nav-height;
                }
            }
        }
    }
    .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 7px;
        vertical-align: middle;
        content: "";
        border-top: 4px solid $color_gray;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
    .dropdown-item {
        display: block;
        padding: 0 20px;
        line-height: 28px;
        text-transform: uppercase;
        font-size: 12px;
    }
}

.navbar-toggler {
    background: none;
    border: none;
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -15px;
    font-size: 20px;
    outline: none;
}

@media screen and (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .page-header__nav .navbar-collapse {
        text-align: left;
        background: white;
        width: 210px;
        position: absolute;
        left: 60px;
        top: 40px;
        border: 1px solid #e1e1e1;
        padding: 20px 0;
        .navbar-nav {
            width: 100%;
            margin: 0;
        }
    }
    .page-header__nav {
        height: 100%;
    }
    .page-header__nav ul>li {
        display: block;
        text-align: left;
        > a {
            line-height: 45px;
        }
    }
    .brand-logo {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}
