$color_blue: #68899a;
$color_light_blue: #868f93;
$color_gray_blue: #d9e1e6;
$color_dark: #111111;
$color_soft_orange: #ded3aa;
$color_soft_orange_light: #dfdfde;
$color_soft_orange_dark: #e5ce78;
$color_light_gray: #e1e1e1;
$color_gray: #999999;
$color_dark_gray: #555555;
$color_soft_red: #E34848;


$color_primary: $color_blue;
$text-color: $color_dark;
$text-color-secondary: $color_dark_gray;
